.main {
  width: 100%;
  box-sizing: border-box;
  padding: 53px 7%;
  padding-top: 57px;
  padding-bottom: 22px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Lato";
  font-size: 37px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #ffffff;
}

.logo > span {
  position: relative;
  font-family: "Lato";
}

.flower {
  position: absolute;
  left: -29%;
  top: -15px;
  width: 20px;
  height: 20px;
}

.wallet__connect__button {
  background-color: transparent;
  border: 1px solid #fafafa;
  border-radius: 10px;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px 36px;
  color: white;
  cursor: pointer;
  position: relative;
}

.wrong__netowrk {
  background-color: rgba(149, 39, 39, 1);
  border: 1px solid rgba(255, 62, 62, 0.3);
  border-radius: 10px;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px 36px;
  color: white;
  cursor: pointer;
}

.outer__circle {
  position: absolute;
  left: -60px;
  top: -2px;
  margin: auto 0px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 30px;
}

.icon {
  position: relative;
  width: 26px;
  height: 26px;
}

.networks {
  position: absolute;
  opacity: 0;
  left: -110px;
  top: 0px;
  display: flex;
  column-gap: 8px;
  z-index: 20;
}

.network__outer__circle {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 30px;
}

@media screen and (max-width: 635px) {
  .networks {
    left: 0px;
    top: 50px;
    display: flex;
    column-gap: 8px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 42px 29px;
    padding-top: 42px;
    padding-bottom: 30px;
  }

  .logo {
    font-size: 22px;
  }

  .flower {
    width: 12.6px;
    height: 12.6px;
    top: -10px;
  }

  .wallet__connect__button {
    display: flex;
    padding: 11.199px 26.123px 11.116px 26.877px;
    justify-content: center;
    align-items: center;
  }

  .wrong__netowrk {
    background-color: rgba(149, 39, 39, 1);
    border: 1px solid rgba(255, 62, 62, 0.3);
    display: flex;
    padding: 11.199px 26.123px 11.116px 26.877px;
    justify-content: center;
    align-items: center;
  }

  .outer__circle {
    left: -52px;
  }

  .networks {
    z-index: 20;
    left: -1px !important;
    top: 47px;
    display: flex;
    column-gap: 3.5px;
  }
}
