.container {
  width: 100%;
  box-sizing: border-box;
  padding: 108px 7%;
  display: flex;
  justify-content: space-between;
}

.logo__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.logo {
  font-family: "Lato";
  font-size: 37px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 5px;
  cursor: pointer;
}

.logo > span {
  position: relative;
  font-family: "Lato";
}

.flower {
  position: absolute;
  left: -29%;
  top: -15px;
  width: 20px;
  height: 20px;
}

.logo__box > span {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.08px;
  margin-bottom: 15px;
}

.socials {
  display: flex;
  column-gap: 13px;
}

.social__icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.links {
  width: 50%;
  display: flex;
  margin-top: 10px;
  padding-right: 80px;
  justify-content: space-between;
}

.link__box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.link__box > h4 {
  color: #fff;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.08px;
  text-decoration-line: underline;
}

.link__box p {
  color: #fff;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.08px;
}

/* Desktop Sizes */

@media (min-width: 1280px) {
  .container {
    justify-content: center;
    column-gap: 250px;
  }

  .links {
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
    column-gap: 147px;
    padding-right: 0px;
  }
}

@media (max-width: 1068px) {
  .links {
    padding-right: 50px;
  }
}

@media (max-width: 971px) {
  .links {
    width: 55%;
    padding-right: 10px;
  }

  @media (max-width: 832px) {
    .links {
      padding-right: 0px;
    }

    .logo {
      font-size: 30px;
    }

    .logo__box > span {
      font-size: 14px;
    }

    .link__box > h4 {
      font-size: 14px;
    }

    .link__box p {
      font-size: 14px;
    }

    .flower {
      position: absolute;
      left: -25%;
      width: 16px;
      height: 16px;
    }
  }

  @media (max-width: 680px) {
    .logo {
      font-size: 24px;
    }

    .logo__box > span {
      font-size: 13px;
    }

    .link__box > h4 {
      font-size: 13px;
    }

    .link__box p {
      font-size: 13px;
    }

    .flower {
      position: absolute;
      left: -25%;
      width: 14px;
      height: 14px;
    }
  }

  @media (max-width: 628px) {
    .links {
      width: 60%;
    }
  }

  @media (max-width: 557px) {
    .container {
      padding: 108px 3%;
    }
  }
}
/* Mobile styles */
@media screen and (max-width: 480px) {
  .container {
    padding: 52px 7.15%;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 59px;
  }

  .logo__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .logo {
    font-size: 30.5px;
    font-weight: 600;
    margin-bottom: 19px;
  }

  .logo > span {
    position: relative;
    font-family: "Lato";
  }

  .flower {
    position: absolute;
    left: -3.15px;
    top: -15px;
    width: 16.7px;
    height: 16.7px;
  }

  .logo__box > span {
    font-size: 13.3px;
    margin-bottom: 34px;
  }

  .socials {
    display: flex;
    column-gap: 13px;
  }

  .social__icon {
    width: 24px;
  }

  .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 47px;
    padding-right: 0px;
  }

  .link__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 21px;
  }
}
