.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  width: 85%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-sizing: border-box;
  padding: 30px 80px;
  padding-top: 60px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  color: #fff;
  text-align: center;
  font-family: "Satoshi";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 100px;
  width: -moz-fit-content;
  width: fit-content;
}

.title__underline {
  width: 130%;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}

.display {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 400;
  color: white;
}

.table__head {
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
  text-align: left;
  color: white;
}

.table__head > tr th {
  padding-bottom: 20px;
  padding-right: 30px;
  text-align: center !important;
}

.table__head > tr th:nth-child(1) {
  text-align: left !important;
  padding-left: 25px;
}

.table__head > tr th:nth-child(4) {
  text-align: right !important;
  padding-right: 80px;
}

.table__body {
  padding-top: 30px;
  font-weight: 500;
}

.row__0 td {
  padding-top: 25px;
}

.table__body > tr td {
  padding-bottom: 30px;
  padding-right: 30px;
}

.table__body > tr td:nth-child(2) {
  text-align: center;
}

.table__body > tr td:nth-child(3) {
  text-align: center;
}

.table__body > tr td:nth-child(4) {
  text-align: right;
}

/* Mobile Styles */
@media screen and (max-width: 920px) {
  .container {
    padding-top: 95px;
  }

  .main {
    width: 93.5%;
    border-radius: 29px;
    padding: 41px 26px;
    margin-bottom: 86px;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  .display {
    font-family: "Lato";
  }

  .title__underline {
    display: none;
  }

  .table__head {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: "Lato";
    width: 100%;
  }

  .table__head > tr th {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 22px;
  }

  .table__head > tr th:nth-child(1) {
    text-align: left !important;
    padding-left: 0px;
  }

  .table__head > tr th:nth-child(4) {
    text-align: inherit;
    padding-right: 0px;
  }

  .row__0 td {
    padding-top: 24px;
  }

  .table__body {
    align-items: center;
  }

  .table__body > tr {
    box-sizing: border-box;
  }

  .table__body > tr td {
    padding-bottom: 30px;
    padding-right: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    row-gap: 30px;
  }

  .table__body > tr td:nth-child(1) {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
  }

  .table__body > tr td:nth-child(4) {
    text-align: center;
  }

  .title__mobile {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.06px;
  }

  .date__mobile {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.055px;
    opacity: 0.8;
  }
}
