.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.main {
  width: 607px;
  box-sizing: border-box;
  padding: 35px;
  padding-bottom: 65px;
  box-shadow: -30px -25px 60px hsla(346, 69%, 56%, 0.403),
    30px -25px 60px hsla(195, 77%, 38%, 0.4),
    -30px 25px 60px hsla(14, 67%, 63%, 0.4),
    30px 25px 60px hsla(160, 46%, 52%, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(to bottom, rgba(17, 56, 68, 1), rgba(0, 1, 1, 1));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  z-index: 101;
}

.title {
  margin: 0%;
  font-family: "Lato";
  color: #ffffff;
  font-size: 24px !important;
  line-height: 42px;
  font-weight: 700;
}

.terms {
  display: flex;
  column-gap: 25px;
  align-items: center;
  margin-left: 30px;
}

.bubble {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(217, 217, 217, 1);
  border: 4px solid rgba(147, 147, 147, 1);
  cursor: pointer;
}

.text {
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  width: 380px;
  text-wrap: wrap;
}

.text span {
  font-family: "Lato";
  font-weight: 500;
  color: #2ceffb;
}

.gradient__border {
  background: linear-gradient(
    to bottom,
    rgba(192, 58, 89, 0.5),
    rgba(216, 181, 92, 0.5),
    rgba(6, 177, 133, 0.5),
    rgba(17, 132, 170, 0.5)
  );
  box-sizing: border-box;
  width: 100%;
  padding: 1px;
  border-radius: 10px;
}

.gradient__border:active {
  padding: 0px;
  background: none;
  border: 1px solid #01e186;
}

.connect__button {
  width: 100%;
  padding: 12px 22px;
  background: linear-gradient(to bottom, rgb(7, 23, 28), rgb(12, 40, 48));
  z-index: 1;
  border: none;
  display: flex;
  column-gap: 15px;
  align-items: center;
  font-family: "Lato";
  color: #ffffff;
  font-weight: 500;
  font-size: 24px !important;
  cursor: pointer;
  border-radius: 10px;
}

.metamask__icon {
  position: relative;
  width: 56px;
  height: 56px;
}

@media screen and (max-width: 662px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  .main {
    width: 370px;
    box-sizing: border-box;
    padding: 35px;
    padding-bottom: 65px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      to bottom,
      rgba(17, 56, 68, 1),
      rgba(0, 1, 1, 1)
    );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    z-index: 101;
  }

  .title {
    margin: 0%;
    font-family: "Lato";
    color: #ffffff;
    font-size: 24px !important;
    line-height: 42px;
    font-weight: 700;
  }

  .terms {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-left: 15px;
  }

  .bubble {
    width: 15px;
    height: 12px;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 1);
    border: 4px solid rgba(147, 147, 147, 1);
    cursor: pointer;
  }

  .text {
    font-family: "Lato";
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    width: 320px;
    text-wrap: wrap;
  }

  .gradient__border {
    background: linear-gradient(
      to bottom,
      rgba(192, 58, 89, 0.5),
      rgba(216, 181, 92, 0.5),
      rgba(6, 177, 133, 0.5),
      rgba(17, 132, 170, 0.5)
    );
    box-sizing: border-box;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
  }

  .connect__button {
    width: 100%;
    padding: 9px 15px;
    background: linear-gradient(to bottom, rgb(7, 23, 28), rgb(12, 40, 48));
    z-index: 1;
    border: none;
    display: flex;
    column-gap: 15px;
    align-items: center;
    font-family: "Lato";
    color: #ffffff;
    font-weight: 500;
    font-size: 18px !important;
    cursor: pointer;
    border-radius: 10px;
  }

  .metamask__icon {
    position: relative;
    width: 44px;
    height: 44px;
  }
}
